@import "@fontsource-variable/assistant";
@import "../style/partials/variables";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Font */

body {
  font-family: "assistant", sans-serif;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: $cube-charade;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $material-mandy-rgba;
    border-radius: 10px;
  }
}
