/* COLOR CUBE */
$cube-charade: #272b34;
$median-sunglo: #ea4a56;
$cube-white: #fefefe;
$cube-mid-gray: #6b6b6c;
$cube-bombay: #aeaeaf;
$cube-roti: #bcaa44;
$cube-allports: #036dac;
$cube-rusty-nail: #8e5c09;

/* MEDIAN CUT */
$median-charade: #292d39;
$median-sunglo: #de7272;
$median-tapa: #75726e;
$median-lynch: #7780a4;
$median-bali: #859fb4;

/* MATERIAL DESIGN */
$material-mandy: #eb4b54;
$material-jumbo: #737376;
$material-blue-zodiac: #0b2037;
$material-ebony-clay: #2d2d45;
$material-sorrell: #c8ba7e;
